<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌手管理</title>
    <link rel="stylesheet" type="text/css" href="../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/icon/iconfont.css">
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">
    <div>
        <div class="filter-container">
            <el-input placeholder="筛选歌手/组合" v-model="pagination.name" style="width: 200px;" class="filter-item" clearable></el-input>
            <template>
                <el-select v-model="pagination.sex" clearable placeholder="请选择">
                    <el-option
                            v-for="item in SexChoice"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </template>
            <el-button @click="getAll()" class="dalfBut" icon="el-icon-search" plain>查询</el-button>
            <el-button type="primary" class="butT" @click="handleCreate()" icon="el-icon-folder-add" plain>添加歌手</el-button>
        </div>
        <!--歌手信息栏-->
        <el-table  current-row-key="id" :data="dataList" stripe highlight-current-row  border>
            <el-table-column label="ID" prop="id" align="center"></el-table-column>
            <el-table-column label="歌手图片" prop="pic" align="center" >
                <template slot-scope="scope" >
                    <el-image :src="picUrl+scope.row.pic" style="width: 150px; height: 150px"></el-image>
                    <el-upload
                            :action="uploadUrl(scope.row.id)"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload"
                    >
                        <el-button type="primary" size="mini" icon="el-icon-picture" plain>更新头像</el-button>
                    </el-upload>
                </template>
            </el-table-column>
            <el-table-column label="歌手" prop="name"  align="center"></el-table-column>
            <el-table-column label="性别" prop="sex" align="center">
                <template slot-scope="scope">
                    <div>{{ changeSex(scope.row.sex) }}</div>
                </template>
            </el-table-column>
            <el-table-column label="出生" prop="birth"  align="center">
                <template slot-scope="scope">
                    <div>{{ getBirth(scope.row.birth) }}</div>
                </template>
            </el-table-column>
            <el-table-column label="地区" prop="location"  align="center"></el-table-column>
            <el-table-column label="简介" prop="introduction">
                <template v-slot="scope">
                    <p style="height: 191px; overflow: scroll">
                        {{ scope.row.introduction }}
                    </p>
                </template>
            </el-table-column>
            <el-table-column label="歌曲管理" align="center">
                <template slot-scope="scope">
                    <el-button type="info" size="mini" @click="goSongPage(scope.row)" icon="el-icon-notebook-2" plain>歌曲管理</el-button>
                </template>
            </el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger"  size="mini" @click="handleDelete(scope.row)" icon="el-icon-delete" circle></el-button>
                </template>
            </el-table-column>
        </el-table>


        <!--分页组件-->
        <div class="pagination-container" style="text-align: center">
            <el-pagination
                    background
                    class="pagination"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.currentPage"
                    :page-size="pagination.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>
        <!--歌手歌曲弹窗-->
        <el-dialog title="歌曲管理" :visible.sync="SongDialogVisible">
            <div class="filter-container">
                <el-button type="danger" class="butT" @click="deleteAll()" icon="el-icon-delete" plain>批量删除</el-button>
                <el-input placeholder="筛选歌曲" v-model="SongPagination.name" style="width: 200px;" class="filter-item" clearable></el-input>
                <el-button @click="getSongBySingID()" class="dalfBut" icon="el-icon-search" plain>搜索</el-button>
                <el-button type="primary" class="butT" @click="SongCreate()" icon="el-icon-circle-plus" plain>添加歌曲</el-button>
            </div>
            <el-table  current-row-key="id" :data="SongList" stripe highlight-current-row @selection-change="handleSelectionChange"  border>
                <el-table-column type="selection" ></el-table-column>
                <el-table-column type="index" label="序号" align="center" style="width: 50px;"></el-table-column>
                <el-table-column label="歌名" prop="name"  align="center" >
                    <template slot-scope="scope">
                        {{replaceLName(scope.row.name)}}
                    </template>
                </el-table-column>
                <el-table-column label="歌手" prop="name"  align="center" >
                    <template slot-scope="scope">
                        {{replaceFName(scope.row.name)}}
                    </template>
                </el-table-column>
                <el-table-column label="专辑" prop="album" align="center" ></el-table-column>
                <el-table-column label="时长" prop="time" align="center" ></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="SongUpdate(scope.row)" icon="el-icon-edit" circle></el-button>
                        <el-button type="danger"  size="mini" @click="SongDelete(scope.row)" icon="el-icon-delete" circle></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--分页组件-->
            <div class="pagination-container" style="text-align: center">
                <el-pagination
                            background
                            @current-change="handleSongChange"
                            :current-page="SongPagination.currentPage"
                            :page-size="SongPagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="SongPagination.total">
                    </el-pagination>
            </div>


            <!--添加歌曲-->
            <el-dialog width="30%" title="添加歌曲" :visible.sync="SongCreatVisible" append-to-body>
                <el-form label-width="120px" :model="registerForm">

                    <el-form-item label="歌曲名" prop="name">
                        <el-input v-model="registerForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="专辑" prop="album">
                        <el-input v-model="registerForm.album"></el-input>
                    </el-form-item>

                    <el-form-item label="时长">
                        <template>
                            <el-input-number size="mini" v-model="minute" :min="0"></el-input-number>分
                            <el-input-number size="mini" v-model="second" :min="0"></el-input-number>秒
                        </template>
                    </el-form-item>

                </el-form>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="SongCancel()" icon="el-icon-close" circle></el-button>
                        <el-button type="primary" @click="SongAdd()" icon="el-icon-check" circle></el-button>
                     </span>
                </template>
            </el-dialog>

            <!--编辑歌曲信息-->
            <el-dialog title="编辑" :visible.sync="SongEditVisible" append-to-body>
                <el-form label-width="60px" :model="editForm" >
                    <el-form-item label="歌曲名" prop="name">
                        <el-input v-model="editForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="专辑" prop="album">
                        <el-input v-model="editForm.album"></el-input>
                    </el-form-item>
                    <el-form-item label="时长">
                        <el-input v-model="editForm.time"></el-input>
                    </el-form-item>
                </el-form>
                <template #footer>
                <span class="dialog-footer">
                    <el-button type="danger" @click="SongCancel()" icon="el-icon-close" circle></el-button>
                    <el-button type="success" @click="SongEdit()" icon="el-icon-check" circle></el-button>
                </span>
                </template>
            </el-dialog>

        </el-dialog>

        <!--添加歌手弹窗-->
        <el-dialog title="添加歌手" :visible.sync="centerDialogVisible">
                <el-form label-width="80px" :model="registerForm" :rules="singerRule">
                    <el-form-item label="歌手名" prop="name">
                        <el-input v-model="registerForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="sex">
                        <el-radio-group v-model="registerForm.sex">
                            <el-radio :label="0">女</el-radio>
                            <el-radio :label="1">男</el-radio>
                            <el-radio :label="2">保密</el-radio>
                            <el-radio :label="2">组合</el-radio>
                            <el-radio :label="3">不明</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="国籍" prop="location">
                        <el-input v-model="registerForm.location"></el-input>
                    </el-form-item>
                    <el-form-item label="出生日期" prop="birth">
                        <el-date-picker type="date" v-model="registerForm.birth"></el-date-picker>
                    </el-form-item>
                    <el-form-item label="歌手介绍" prop="introduction">
                        <el-input type="textarea" v-model="registerForm.introduction"></el-input>
                    </el-form-item>

                </el-form>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button type="danger" @click="cancel()" icon="el-icon-close" circle></el-button>
                        <el-button type="success" @click="handleAdd()" icon="el-icon-check" circle></el-button>
                     </span>
                </template>
            </el-dialog>

        <!--编辑歌手信息-->
        <el-dialog title="编辑" :visible.sync="editVisible">
            <el-form label-width="60px" :model="editForm" :rules="singerRule">
                <el-form-item label="歌手" prop="name">
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="editForm.sex">
                        <el-radio :label="0">女</el-radio>
                        <el-radio :label="1">男</el-radio>
                        <el-radio :label="2">保密</el-radio>
                        <el-radio :label="2">组合</el-radio>
                        <el-radio :label="3">不明</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="出生" prop="birth">
                    <el-date-picker type="date" v-model="editForm.birth"></el-date-picker>
                </el-form-item>
                <el-form-item label="地区" prop="location">
                    <el-input v-model="editForm.location"></el-input>
                </el-form-item>
                <el-form-item label="简介" prop="introduction">
                    <el-input type="textarea" v-model="editForm.introduction"></el-input>
                </el-form-item>
                <el-form-item label="图片" prop="pic">
                    <el-input type="textarea" v-model="editForm.pic" readonly="true"></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="danger" @click="cancel()" icon="el-icon-close" circle></el-button>
                    <el-button type="success" @click="handleEdit()" icon="el-icon-check" circle></el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../plugins/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="../plugins/axios/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data:{
            dataList: [],
            fileList: [],
            SongList: [],
            multipleSelection: [],//批量删除记录
            SongDialogVisible: false,//歌曲弹窗
            SongEditVisible: false,//歌曲编辑弹窗
            SongCreatVisible: false,//歌曲添加弹窗
            centerDialogVisible: false,
            editVisible: false,
            editForm: {},//编辑歌手数据
            registerForm:{},//添加歌手数据
            pagination: {//歌手分页相关模型数据
                currentPage: 1,//当前页码
                pageSize:5,//每页显示的记录数
                total:0,//总记录数
                name:'',
                sex:''
            },
            SongPagination:{
                currentPage: 1,//当前页码
                pageSize:5,//每页显示的记录数
                total:0,//总记录数
                name:'',
            },
            SingerId:'',
            SingerName:'',
            minute:1,
            second:1,
            picUrl:'http://localhost:8080',
            SexChoice:[
                {
                    value: '1',
                    label: '男'
                },
                {
                    value: '0',
                    label: '女'
                },
                {
                    value: '2',
                    label: '乐队组合'
                }],
            value: '',
            imageUrl: '',
            singerRule:{
                name: [{ required: true, trigger: "change" }],
                sex: [{ required: true, trigger: "change" }],
            }


        },
        created(){

        },
        mounted(){
            this.getAll();
        },
        methods: {
            //歌手切换页码
            handleCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination.currentPage = currentPage;
                //执行查询
                this.getAll();
            },
            //歌手与歌曲分词
            replaceFName(str){
                let arr = str.split('-');
                return arr[0]
            },
            replaceLName(str){
                let arr = str.split('-');
                return arr[1]
            },
            //歌曲切换页码
            handleSongChange(currentPage){
                this.SongPagination.currentPage = currentPage;
                this.getSongBySingID();
            },
            //歌手数据展示
            getAll() {
                param = "?name=" + this.pagination.name;
                param += "&sex=" + this.pagination.sex;
                axios.get("/singer/" + this.pagination.currentPage + "/" + this.pagination.pageSize + param).then((res) => {
                    this.pagination.pageSize = res.data.data.size;
                    this.pagination.currentPage = res.data.data.current;
                    this.pagination.total = res.data.data.total;
                    this.dataList = res.data.data.records;
                });
            },
            //歌曲数据展示
            getSongBySingID() {
                param = "?name=" + this.SongPagination.name;
                param +="&singerid="+this.SingerId;

                axios.get("/song/" + this.SongPagination.currentPage + "/" + this.SongPagination.pageSize + param).then((res) => {
                    this.SongPagination.pageSize = res.data.data.size;
                    this.SongPagination.currentPage = res.data.data.current;
                    this.SongPagination.total = res.data.data.total;
                    this.SongList = res.data.data.records;
                });
            },
            changeSex(value) {
                if (value === 0) {
                    return "女";
                } else if (value === 1) {
                    return "男";
                } else if (value === 2) {
                    return "组合";
                } else if (value === 3) {
                    return "不明";
                } else if (value === "男" || value === "女") {
                    return value;
                }
            },
            getBirth(cellValue) {
                if (cellValue == null || cellValue == "") return "";
                const date = new Date(cellValue);
                const year = date.getFullYear();
                const month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return year + "-" + month + "-" + day;
            },
            //添加歌手弹窗
            handleCreate() {
                this.centerDialogVisible = true;
                this.resetForm();
            },
            //添加歌曲弹窗
            SongCreate() {
                this.resetForm();
                this.SongCreatVisible = true;

            },
            //重置表单
            resetForm() {
                this.registerForm = {};
            },
            //歌手操作取消
            cancel() {
                this.SongDialogVisible = false;
                this.centerDialogVisible = false;
                this.editVisible = false;

            },
            //歌手曲操作取消
            SongCancel(){
                this.SongCreatVisible = false;
                this.SongEditVisible = false;
                this.$message.info("当前操作取消");
            },

            //歌手添加
            handleAdd() {
                axios.post("/singer", this.registerForm).then((res) => {
                    //判断当前操作是否成功
                    if (String(res.data.code) === '1') {
                        //1.关闭弹层
                        this.centerDialogVisible = false;
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {

                    //2.重新加载数据
                    this.getAll();
                });
            },

            //添加歌曲
            SongAdd() {
                this.registerForm.singerId=this.SingerId;

                this.registerForm.singername=this.SingerName;

                if(this.second<10){
                    this.registerForm.time="0"+this.minute+":0"+this.second;
                }else {
                    this.registerForm.time="0"+this.minute+":"+this.second;
                }
                axios.post("/song", this.registerForm).then((res) => {
                    //判断当前操作是否成功
                    if (String(res.data.code) === '1') {
                        //1.关闭弹层
                        this.SongCreatVisible = false;
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    this.minute=1;
                    this.second=1;
                    //2.重新加载数据
                    this.getSongBySingID();
                });
            },

            //删除歌手
            handleDelete(row) {
                this.$confirm("此操作永久删除当前歌手信息，是否继续？", "提示", {type: "info"}).then(() => {
                    axios.delete("/singer/" + row.id).then((res) => {
                        if (String(res.data.code) === '1') {
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {

                        //2.重新加载数据
                        this.getAll();
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },

            //删除歌曲
            SongDelete(row) {
                this.$confirm("此操作永久删除当前歌曲信息，是否继续？", "提示", {type: "info"}).then(() => {
                    axios.delete("/song/" + row.id).then((res) => {
                        if (String(res.data.code) === '1') {
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {
                        //2.重新加载数据
                        this.getSongBySingID();
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },
            handleSelectionChange(val) {
                this.multipleSelection.value = val;
            },
            //删除批量歌手
            handleAllDelete(row) {
                axios.delete("/song/" + row.id)
            },
            //批量删除
            deleteAll(){
                this.$confirm("此操作永久删除当前歌曲信息，是否继续？", "提示", {type: "info"}).then(() => {
                    for (let item of this.multipleSelection.value) {
                        this.handleAllDelete(item);
                    }
                }).finally(()=>{
                    this.getSongBySingID();
                    this.multipleSelection.value = [];
                }).catch(()=>{
                    this.$message.info("取消操作");
                });
            },

            //弹出编辑窗口
            handleUpdate(row) {
                axios.get("/singer/" + row.id).then((res) => {
                    if (res.data.data != null && String(res.data.code) === '1') {
                        this.editVisible = true;
                        this.editForm = res.data.data;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getAll();
                });
            },

            //歌手信息修改
            handleEdit() {
                axios.put("/singer", this.editForm).then((res) => {
                    //判断当前操作是否成功
                    if (String(res.data.code) === '1') {
                        //1.关闭弹层
                        this.editVisible = false;
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getAll();
                });
            },
            //跳转歌曲页面
            goSongPage(row){
                this.SingerId=row.id;
                this.SingerName=row.name;

                this.getSongBySingID();
                this.SongDialogVisible=true;
            },
            //弹出歌曲编辑窗口
            SongUpdate(row) {
                axios.get("/song/" + row.id).then((res) => {
                    if (res.data.data != null && String(res.data.code) === '1') {
                        this.SongEditVisible = true;
                        this.editForm = res.data.data;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getSongBySingID();
                });
            },
            //歌曲修改
            SongEdit() {
                axios.put("/song", this.editForm).then((res) => {
                    //判断当前操作是否成功
                    if (String(res.data.code) === '1') {
                        //1.关闭弹层
                        this.SongEditVisible = false;
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getSongBySingID();
                });
            },

            //千万不要删除，不然就GG
            uploadUrl(id){
                return 'http://localhost:8080/singer/upload/image?id='+id;
            },

            handleAvatarSuccess(res, file) {
                //console.log(res);
                this.imageUrl = res.data;
                //console.log("图片预览的url:" + this.imageUrl);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === "image/jpeg";
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;

            },
        }

    })

</script>
</body>
</html>