<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌曲管理</title>
    <link rel="stylesheet" type="text/css" href="../plugins/element-ui/index.css">
</head>
<body>
<div id="app">
    <div>
        <div class="filter-container">
            <el-button type="danger" class="butT" @click="deleteAll" icon="el-icon-delete-solid" round>批量删除</el-button>
            <el-input placeholder="筛选歌曲" v-model="pagination.name" style="width: 200px;" class="filter-item" clearable></el-input>
            <el-input placeholder="歌手编号" v-model="pagination.singerid" style="width: 120px;" class="filter-item" clearable></el-input>
            <el-button @click="getAll()" class="dalfBut" icon="el-icon-search" round>搜索</el-button>
        </div>
        <el-table  current-row-key="id" :data="dataList" stripe highlight-current-row @selection-change="handleSelectionChange"  border>
            <el-table-column type="selection" ></el-table-column>

            <el-table-column type="index" label="序号" align="center" ></el-table-column>
            <el-table-column label="歌名" prop="name"  align="center"  ></el-table-column>
            <el-table-column label="专辑" prop="album" align="center" ></el-table-column>
            <el-table-column label="时长" prop="time" align="center" ></el-table-column>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button type="warning" size="mini" @click="handleUpdate(scope.row)" icon="el-icon-star-off" circle></el-button>
                    <el-button type="primary" size="mini" @click="handleUpdate(scope.row)" icon="el-icon-edit" circle></el-button>
                    <el-button type="danger"  size="mini" @click="handleDelete(scope.row)" icon="el-icon-delete" circle></el-button>
                </template>
            </el-table-column>
        </el-table>
        <!--分页组件-->
        <div class="pagination-container" style="text-align: center">
            <el-pagination
                    background
                    class="pagiantion"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.currentPage"
                    :page-size="pagination.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>


        <!--编辑歌曲信息-->
        <el-dialog title="编辑" :visible.sync="editVisible">
            <el-form label-width="60px" :model="editForm" >
                <el-form-item label="歌曲名" prop="name">
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="专辑" prop="album">
                    <el-input v-model="editForm.album"></el-input>
                </el-form-item>
                <el-form-item label="时长">
                    <el-input v-model="editForm.time"></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="danger" @click="cancel()" icon="el-icon-close" circle></el-button>
                    <el-button type="primary" @click="handleEdit()" icon="el-icon-check" circle></el-button>
                </span>
            </template>
        </el-dialog>

    </div>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../plugins/axios/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data:{
            centerDialogVisible: false,
            editVisible: false,
            editForm: {},//编辑歌曲数据
            registerForm:{},//添加歌曲数据
            dataList: [],
            multipleSelection: [],//批量删除记录
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize:10,//每页显示的记录数
                total:0,//总记录数
                name:'',
                singerid:''
            },
            minute:1,
            second:1
        },
        created(){

        },
        mounted(){
            this.getAll();
        },
        methods:{
            //切换页码
            handleCurrentChange(currentPage) {
                //修改页码值为当前选中的页码值
                this.pagination.currentPage = currentPage;
                //执行查询

                this.getAll();
            },
            getAll() {
                param = "?name=" + this.pagination.name;
                param +="&singerid="+this.pagination.singerid;

                axios.get("/song/" + this.pagination.currentPage + "/" + this.pagination.pageSize + param).then((res) => {
                    this.pagination.pageSize = res.data.data.size;
                    this.pagination.currentPage = res.data.data.current;
                    this.pagination.total = res.data.data.total;
                    this.dataList = res.data.data.records;
                });
            },

            //删除歌曲
            handleDelete(row) {
                this.$confirm("此操作永久删除当前歌歌曲信息，是否继续？", "提示", {type: "info"}).then(() => {
                    axios.delete("/song/" + row.id).then((res) => {
                        if (String(res.data.code) === '1') {
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).finally(() => {

                        //2.重新加载数据
                        this.getAll();
                    });
                }).catch(() => {
                    this.$message.info("取消操作");
                });
            },
            //删除批量歌手
            handleAllDelete(row) {
                    axios.delete("/song/" + row.id)
            },
            //批量删除
            deleteAll(){
                this.$confirm("此操作永久删除当前歌歌曲信息，是否继续？", "提示", {type: "info"}).then(() => {
                    for (let item of this.multipleSelection.value) {
                        this.handleAllDelete(item);
                    }
                }).finally(()=>{
                    this.getAll();
                    this.multipleSelection.value = [];
                }).catch(()=>{
                    this.$message.info("取消操作");
                });
            },
            handleSelectionChange(val) {
                this.multipleSelection.value = val;
            },
            //弹出编辑窗口
            handleUpdate(row) {
                axios.get("/song/" + row.id).then((res) => {
                    if (res.data.data != null && String(res.data.code) === '1') {
                        this.editVisible = true;
                        this.editForm = res.data.data;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getAll();
                });
            },//修改
            handleEdit() {
                axios.put("/song", this.editForm).then((res) => {
                    //判断当前操作是否成功
                    if (String(res.data.code) === '1') {
                        //1.关闭弹层
                        this.editVisible = false;
                        this.$message.success(res.data.msg);
                    } else {
                        this.$message.error(res.data.msg);
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.getAll();
                });
            },
            //添加歌曲弹窗
            handleCreate() {
                this.centerDialogVisible = true;
                this.resetForm();
            },
            //重置表单
            resetForm() {
                this.registerForm = {};
            },
            //取消
            cancel() {
                this.centerDialogVisible = false;
                this.editVisible = false;
                this.$message.info("当前操作取消");
            },

        }
    })
</script>

</body>
</html>