<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑胶唱片定制平台</title>
    <link rel="stylesheet" type="text/css" href="../plugins/element-ui/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/Login.css">
</head>
<body>
<div id="login-app"  class="login-container">
    <div class="title">黑胶唱片定制平台</div>
   <div class="login">
       <el-form :model="ruleForm" :rules="rules">
           <el-form-item prop="phoneNum">
               <el-input v-model="ruleForm.phoneNum" placeholder="请输入账号" maxlength="11"></el-input>
           </el-form-item>
           <el-form-item prop="password">
               <el-input v-model="ruleForm.password" type="password" placeholder="请输入密码" maxlength="12"></el-input>
           </el-form-item>
           <el-form-item>
               <el-button-group >
                   <el-button type="primary" icon="el-icon-s-promotion" @click="handleLogin" >登录</el-button>
                   <el-button type="info" icon="el-icon-edit-outline" @click="handleAdd" >注册</el-button>
                   <el-button type="success" icon="el-icon-thumb" @click="handleUpdate" >忘记密码</el-button>
               </el-button-group>
           </el-form-item>
       </el-form>
   </div>
    <el-dialog title="用户注册" :visible.sync="DialogVisible" append-to-body >
        <el-form :model="registerForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item prop="username" label="用户名">
                <el-input v-model="registerForm.username" placeholder="username"></el-input>
            </el-form-item>
            <el-form-item prop="phoneNum" label="电话号码">
                <el-input v-model="registerForm.phoneNum" placeholder="phoneNum" maxlength="11"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="registerForm.password" minlength="8" maxlength="12"></el-input>
            </el-form-item>
            <el-form-item label="性别" prop="sex">
                <el-radio-group v-model="registerForm.sex">
                    <el-radio :label="0">女</el-radio>
                    <el-radio :label="1">男</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm()">提交</el-button>
                <el-button type="danger" @click="resetForm()">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog title="用户重置密码" :visible.sync="UpdateVisible" append-to-body >
        <el-form :model="registerForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item prop="phoneNum" label="电话号码">
                <el-input v-model="registerForm.phoneNum" placeholder="phoneNum" maxlength="11"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="password">
                <el-input type="password" v-model="registerForm.password" minlength="8" maxlength="12"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkword">
                <el-input type="password" v-model="registerForm.checkword" minlength="8" maxlength="12"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="updatePass()">提交</el-button>
                <el-button type="danger" @click="resetForm()">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../plugins/axios/axios.min.js"></script>

<script>
    new Vue({
        el: '#login-app',
        data:{
            DialogVisible: false,
            UpdateVisible: false,
            registerForm: {},//添加注册用户数据
            ruleForm:{
                phoneNum: '',
                password: '',
            },
            rules: {
                phoneNum: [{required: true, message: "请输入账号", trigger: "blur"}],
                password: [{required: true, message: "请输入密码", trigger: "blur"}]
            }
        },
        methods :{
            handleLogin(){
                axios({
                    method: 'post',
                    url: '/consumer/login',
                    data: this.ruleForm
                }).then((res)=>{
                    if(String(res.data.code)==='1'){
                        localStorage.setItem('userInfo',JSON.stringify(res.data.data))
                        this.$message.success(res.data.msg);
                        // window.location.href = 'Home.html'
                    }else {
                        this.$message.error(res.data.msg);
                    }
                })
            },
            handleAdd(){
                this.DialogVisible = true;
            },
            handleUpdate(){
                this.UpdateVisible = true;
            },
            resetForm(){
                this.registerForm = {};
                this.DialogVisible = false;
                this.UpdateVisible = false;
            },
            submitForm(){
              axios.post('/consumer',this.registerForm).then((res)=>{
                  if(String(res.data.code)==='1'){
                      this.DialogVisible = false;
                      this.$message.success(res.data.msg);
                  }else {
                      this.$message.error(res.data.msg);
                  }
              })
            },
            updatePass(){
                if(this.registerForm.password != this.registerForm.checkword){
                    this.$message.error('两次密码不一致，请重新输入');
                }else {
                    axios.put("/consumer", this.registerForm).then((res) => {
                        //判断当前操作是否成功
                        if (String(res.data.code) === '1') {
                            //1.关闭弹层
                            this.UpdateVisible = false;
                            this.registerForm = {};
                            this.$message.success(res.data.msg);
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    })
                }
            }
        },
    })
</script>

</body>
</html>